// Logging

.loggingButtons {
  padding-top: 1rem;
  button {
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    height: 2rem;
    text-transform: uppercase;

    &:first-of-type {
      margin-right: 1rem;
      width: 3rem;
    }
    &:last-of-type {
      width: 4rem;
    }
    a {
      color: $color-black;
      text-decoration: none;
      text-transform: none;
    }
  }
}

// Navigation

ul {
  li {
    display: inline-block;
    margin: 0 1rem;
    &:first-of-type {
      border: 1px solid black;
      padding: 0.3rem;
    }
    a {
      color: $color-black;
      text-decoration: none;
    }
  }
}

// Header

.headerImage {
  background-image: url("../../assets/Home-Hero-Image.jpg");
  background-size: cover;
  background-position: -12rem 0;
  height: 30rem;
}

.headerMain {
  margin-top: 5rem;
  .headerHeadline {
  }
  .decorationImage1 {
    background-image: url("../../assets/Decoration.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 4rem;
    margin-left: 2rem;
    width: 13rem;
  }
  .headerButtons {
    button {
      background-color: white;
      border: 1px solid black;
      display: inline-block;
      height: 5rem;

      width: 8rem;
      &:first-of-type {
        margin-right: 3rem;
      }
      a {
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

// Three columns

.threeColumns {
  background-color: $color-yellow;
  margin: 0.2rem 0;

  .columnInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    text-align: center;
    h1 {
      font-size: 3rem;
      margin: 0.5rem 0;
    }
    h5 {
      margin: 0.5rem 0;
      text-transform: uppercase;
    }
  }
}

// Four steps

.fourSteps {
  margin-top: 2rem;
  .fourStepsHeadline {
    display: flex;
    flex-direction: column;
    align-items: center;
    .decorationImage2 {
      background-image: url("../../assets/Decoration.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 4rem;
      margin-left: 2rem;
      margin-top: 0.5rem;
      width: 13rem;
    }
  }
  .fourStepsSteps {
    background-color: $color-grey;
    .fourStepsStep {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 3rem 1rem;
      text-align: center;
      .fourStepsImage1 {
        background-image: url("../../assets/Icon-1.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
      .fourStepsImage2 {
        background-image: url("../../assets/Icon-2.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
      .fourStepsImage3 {
        background-image: url("../../assets/Icon-3.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
      .fourStepsImage4 {
        background-image: url("../../assets/Icon-4.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 4rem;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
      }
    }
  }
  .fourStepsButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    button {
      background-color: white;
      border: 1px solid black;
      display: inline-block;
      height: 6rem;

      width: 12rem;
      a {
        color: $color-black;
        font-size: 1.6rem;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}
