.row {
  display: flex;
  flex-flow: wrap;
  // margin: -1rem 0 0 -1rem;
}

@for $i from 1 through 16 {
  .col-#{$i} {
    // margin-top: 1rem;
    // padding-left: 1rem;
    width: ($i / 16) * 100%;
  }
}
